- name: Deploy OSPFv2 on multiaccess network
  hosts: ios
  gather_facts: no

  vars:
    router_id:
      R1: 1.1.1.1
      R2: 2.2.2.2
      R3: 3.3.3.3
      R4: 4.4.4.4

    lan_ip:
      R1: "10.10.10.1 255.255.255.0"
      R2: "10.10.10.2 255.255.255.0"
      R3: "10.10.10.3 255.255.255.0"
      R4: "10.10.10.4 255.255.255.0"

  tasks:
    - name: Configure LAN interface and Loopback
      cisco.ios.ios_config:
        lines:
          - interface GigabitEthernet0/0
          - ip address {{ lan_ip[inventory_hostname] }}
          - no shutdown
          - interface Loopback0
          - ip address {{ router_id[inventory_hostname] }} 255.255.255.255
          - no shutdown

    - name: Configure OSPF process
      cisco.ios.ios_config:
        lines:
          - router ospf 1
          - router-id {{ router_id[inventory_hostname] }}
          - network 10.10.10.0 0.0.0.255 area 0
          - network {{ router_id[inventory_hostname] }} 0.0.0.0 area 0
